language: objective-c
xcode_project: SwiftLogger.xcodeproj
xcode_scheme: SwiftLogger
osx_image: xcode9
xcode_sdk: iphonesimulator11.0
env:
  global:
      - FRAMEWORK_NAME=Swift-Logger
before_install:
  - brew update
  - brew outdated carthage || brew upgrade carthage
script:
    - xcodebuild clean build test -project SwiftLogger.xcodeproj -scheme Swift-Logger -destination 'platform=iOS Simulator,name=iPhone 6,OS=11.0'
before_deploy:
  - carthage build --no-skip-current
  - carthage archive $FRAMEWORK_NAME
